.Home {
  text-align: center;
}



.NavBar {

  
  background-color: red;

  color: aliceblue;
}



.navLinks {

  display: flex;

 justify-content: space-between;
}

.navLinks h1 {
  display: flex;
  font-size: 2rem;
  justify-self: start;

}

.navLinks ul li .link {
 
  padding: 10px;
  text-decoration: none;
  
  color:aliceblue;
 
}

.navLinks ul li {
  display: flex;
  list-style-type: none;
  font-size: 20px;
  margin-top: 50px;
}

.cart-num {

  display: flex;
  
  
}

.cart-num p{

margin-top: -20px;
  
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.cardPic {
  
  width: 60%;
  border-radius: 6px;
}

.card { 
display: flex;
flex-direction: column;
}

.card button {
  margin: 10px;
}

.cart-changes {

  display: flex;

  margin-left: 92px;


}

.cart-changes .add-item {
  padding: 5px;

  border-radius: 5px;

  background-color: white;
  color: black;
  border: 2px solid #4CAF50;

}

.cart-changes .remove-item {
    
  padding: 5px;

  border-radius: 5px;

  background-color: white;
  color: black;
  border: 2px solid red;

}

button{
  transition-duration: 0.4s;
}

.cart-changes .add-item:hover {
  background-color: #4CAF50; 
  color: white;
}

.cart-changes .remove-item:hover {
  background-color: red; 
  color: white;
}

.see-items {
  padding: 15px;

  border-radius: 10px;
  font-size: large;
  font-weight: 200;
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.see-items:hover {
  background-color: #4CAF50; 
  color: white;
}

.cart {
  color:aliceblue;
}